* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

:root {
    --color-light: rgb(149, 214, 223);
    --color-dark: rgb(54, 54, 54);
}

/* Header */
header {
    display: flex;
    background-color: var(--color-dark);
    justify-content: space-between;
}

header h1 {
    width: 24%;
    color: rgb(54, 54, 54);
    background-color: var(--color-light);
    font-size: 1.6em;
    font-weight: bold;
    line-height: 2rem;
    text-align: right;
    margin: .9rem;
    margin-left: 0%;
    padding-right: .5em;
}

/* Navigation Bar */

nav {
    width: 40%;
    margin-right: 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    flex: 2 1 auto;
    text-align: center;
    font-size: 2em;
}

nav ul li a {
    color: var(--color-light);
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: var(--color-light);
    transition: all ease-in-out 250ms;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Main */
main {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

/* Hero */
figure {
    background-image: url("../micah-boswell-OPnBJ5L2oxs-unsplash.jpg");
    position: relative;
    /* Photo by <a href="https://unsplash.com/@micahboswell?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Micah Boswell</a> on <a href="https://unsplash.com/s/photos/background-blue?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    height: 10rem;
    width: 100%;
    margin: 0;
}

figure div {
    background-color: var(--color-light);
    position: absolute;
    right: 4rem;
    bottom: 1rem;
    font-weight: bold;
    color: var(--color-dark);
    font-size: 1.8rem;
    padding: .2rem;
}

/* Content */
main section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

main section h2 {
    width: 20%;
    height: 100%;
    color: var(--color-dark);
    font-size: 2.3em;
    text-align: right;
    border-right: .1em var(--color-dark) solid;
    margin: 0;
    padding-right: .3em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
}

/* Work Display */
.display {
    height: 600px;
}

.feature {
    width: 93%;
    height: 50%;
    background-image: url(http://placekitten.com/600/300);
    margin-bottom: 1%;
    border: 5px var(--color-light) solid;
}

.mini {
    width: 44%;
    height: 25%;
    background-image: url(http://placekitten.com/300/140);
    margin: 1%;
    border: 5px var(--color-light) solid;
    
}

/* Display Tags */
.tag {
    background-color: var(--color-light);
    width: 145px;
    position: relative;
    bottom: -60px;
}

.feature .tag {
    bottom: -190px;
}

.tag h3 {
    font-size: 1.1rem;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

.tag p {
    font-size: .75rem;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
}


/* Contact Information */
.stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
}