* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

/* Header */
header {
    display: flex;
    background-color: rgb(54, 54, 54);
    justify-content: space-between;
}

header p {
    width: 24%;
    color: rgb(54, 54, 54);
    background-color: rgb(149, 214, 223);
    font-size: 1.6em;
    font-weight: bold;
    line-height: 2rem;
    text-align: right;
    margin: .9rem;
    margin-left: 0%;
    padding-right: .5em;
}

nav {
    width: 40%;
    margin-right: 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    flex: 2 1 auto;
    text-align: center;
    font-size: 2em;
}

nav ul li a {
    color: rgb(149, 214, 223);
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    transition: all ease-in-out 250ms;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Main */
main {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

/* Hero */
figure {
    background-image: url("../micah-boswell-OPnBJ5L2oxs-unsplash.jpg");
    position: relative;
    /* Photo by <a href="https://unsplash.com/@micahboswell?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Micah Boswell</a> on <a href="https://unsplash.com/s/photos/background-blue?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    height: 10rem;
    width: 100%;
    margin: 0;
}

figure div {
    background-color: rgb(149, 214, 223);
    position: absolute;
    right: 4rem;
    bottom: 1rem;
    font-weight: bold;
    color: rgb(54, 54, 54);
    font-size: 1.8rem;
    padding: .2rem;
}

/* Content */
main section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

main section h2 {
    width: 20%;
    height: 100%;
    color: rgb(0, 84, 122);
    font-size: 2.3em;
    text-align: right;
    border-right: .1em rgb(0, 84, 122) solid;
    margin: 0;
    padding-right: .3em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
}

/* Work Display */
.display {
    height: 600px;
}

.feature {
    width: 95%;
    height: 50%;
    background-image: url(http://placekitten.com/600/300);
}

.mini {
    width: 43%;
    height: 24%;
    background-image: url(http://placekitten.com/300/140);
}

/* Contact Information */
.stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
}